@using LogViewer3.Models.Enums
@model IList<LogViewer3.Models.LogStatusModel>
@{
    Layout = null;
}

@if (Model != null)
{
<div>
        @foreach (var m in Model)
        {
            var cssName = "alert-success";
            switch (m.Status)
            {
                case LogStatus.Warning:
                    cssName = "alert-warning";
                    break;
                case LogStatus.Dangerous:
                    cssName = "alert-danger";
                    break;
            }
            <div class="alert inlineblock @cssName">
                <a href="/?site=@m.Site&startDateTime=@ViewContext.RouteData.Values["startDateTime"]" target="_blank">@m.Site</a> <strong>@m.Count</strong>
                <a href="#"><i class="icon16 icon16-array"></i></a>
            </div>
        }
</div>
}

